<template>
<div id="bg"></div>
<div id="overlay"></div>
<section>
    <h1>Abbonementen</h1>
    <p>
        Dus jij wilt beter worden in Call of Duty? Mooi, want bij Noob Prevention heb je de keuze uit verschillende maand abonnementen.
        De keuze voor je perfecte abonnement zijn afhankelijk van jouw eigen skills en speelstijl. 
        Twijfel je over je speelstijl? Bekijk dan de speelstijl pagina om jou speelstijl te vinden. Ken jij je speelstijl al? Bekijk dan de abonnementen 
        hieronder! 
    </p>
</section>
<section>
    <BoxItem v-for="box in boxes" :key="box.id" 
    :id='box.id' 
    :name="box.name" 
    :imgsrc="box.img.src" 
    :imgalt="box.img.alt" 
    :intro="box.intro" 
    :price="box.price" 
    />
</section>
</template>

<script>
import { boxes } from '../assets/boxes';
import BoxItem from "@/components/BoxItem";
export default {
    name: "Abonnementen",
    components: {
        BoxItem
    },
    setup() {   
        return {
            boxes
        }
    }
}
</script>

<style lang="scss" scoped>

section:first-of-type{
    text-align: center;

    h1{
        font-size: 60px;
        font-weight: bold;
        color: #EC6F00;
        margin-bottom: 40px;
    }

    p{
        font-size: 22px;
    }
}

section:last-of-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 20px;
}

#bg, #overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 240px;
    z-index:-1;
}

#bg{
    background-image: url('../assets/images/bg/bg-home.svg');
}

#overlay{
    background-color: rgba(0,0,0,0.3);
}
</style>
