<template>
    <div id="bg"></div>
    <div id="overlay"></div>
    <section>
        <h1>Abbonementen</h1>
        <router-link to="/abonnementen">
            <button>Terug</button>
        </router-link>
    </section>
    <section>
        <div>
            <h2>Preview</h2>
            <img src="../assets/images/boxes/preview.svg" alt="">
        </div>
        <section>
            <div>
                <h2>{{ box.name }}</h2>
                <img :src="require('@/assets/' + box.img.src)" alt="">
            </div>
            <p>{{ box.full }}</p>

            <h3>Maandelijks</h3>

            <ul>
                <li v-for="detail in box.details" :key="detail.id"><strong>{{ detail.txt }}</strong></li>
            </ul>
            <button>Abboneer nu</button>
        </section>
    </section>
</template>

<script>

import { boxes } from '../assets/boxes';
import { computed } from 'vue';
import { useRoute } from 'vue-router';

export default {
    name: "BoxDetail",
    setup() { 

        const route = useRoute();
        const boxId = computed(() => route.params.boxId);

        const box = boxes[boxId.value - 1] || boxes[0];
        return {
            box
        }
    }
}
</script>

<style lang="scss" scoped>
    
    section:first-of-type{

        display: flex;
        flex-direction: column;
        text-align: center;

        h1{
            font-size: 60px;
            font-weight: bold;
            color: #EC6F00;
            margin-bottom: 40px;
        }

        a{
            align-self: flex-start;
          
            button{
                width: 150px;
                height: 40px;
                padding: 5px 10px;
                color: white;
                background-color:#EC6F00;
                border: 2px solid #FFFFFF;
                border-radius: 40px;
                font-size: 21px;
                font-weight: bold;
                left:0;
            }
        }
    }

    main > section:last-of-type{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;

        > div:first-child{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 500px;

            img{
                width: 70%;
            }
        }
        
        > section:last-of-type{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 500px;
            margin-bottom: 20px;
            padding: 0 20px;
            text-align: center;
            background-color: #DFDFDF;
            border-radius: 20px;

            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);

            h2, h3{
                font-size: 40px;
                font-weight: bold;
                color: #EC6F00;
            }

            div{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 50px;
                }
            }

            button{
                padding: 10px 20px;
				width: 80%;
				background-color:#EC6F00;
				border: 2px solid #FFFFFF;
				border-radius: 40px;
				font-size: 18px;
				font-weight: bold;

				-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
				-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
				box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
            }
        }
    }

    #bg, #overlay{
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 240px;
        z-index:-1;
    }

    #bg{
        background-image: url('../assets/images/bg/bg-home.svg');
    }

    #overlay{
        background-color: rgba(0,0,0,0.3);
    }
</style>