<template>
<div id="bg"></div>
<div id="overlay"></div>
<section>
    <h1><span>Noob</span> Prevention</h1>
    <h2>Premium Rank Boosting</h2>

    <article>
        <p>
            Ben jij een call of duty speler die zijn carrière naar een hoger level wilt brengen? Wil jij geld verdienen met 
            streamen en meedoen met proffesionele tournaments? Dan ben je bij Noob Prevention bij de goeie plek.
        </p>
        <p>
            Wij hebben verschillende abonnementen met content en services die jou kunnen helpen met het beter worden in Call of Duty.
            Dit geldt voor als  je net begint aan Call of Duty of al een tijdje speelt en toch je skills wilt finetunen.
        </p>

        <div>
            <button><router-link to="/abonnementen">Bekijk onze abonnementen</router-link></button>
        </div>
    </article>
</section>
<section>
    <figure>
        <img src="../assets/images/body/soldier-home.svg" alt="Afbeelding Call of Duty soldier">
    </figure>
    <article>
        <div>
            <figure>
                <img src="../assets/images/body/text-home.svg" alt="Tekst icoon">
            </figure>
            <p>
            Wij, bij Noob Prevention, zijn zelf allemaal fanatieke Call of Duty spelers 
            en kennen alle ins ‘n outs van de game. Als je meer wilt weten van ons 
            team en met wie je eigenlijk te maken hebt bij Noob Prevention bekijk 
            dan de Ons Team pagina  onze individuele profielen.
            </p>
        </div>

        <div>
            <button><router-link to="/ons-team">Bekijk ons team</router-link></button>
        </div>
    </article>
</section>
</template>

<script>
// @ is an alias to /src

export default {
    name: 'Home'
}
</script>

<style lang="scss" scoped>

section:first-of-type{
    height: 85vh;

    h1{
        font-size: 124px;
        font-weight: bold;

        span{
            border-bottom: 5px solid #EC6F00;
            border-radius: 5px;
        }
    }

    h2{
        font-size: 33px;
        font-weight: bold;
        color: white;
    }

    article{

        text-align: center;
        margin-top: 70px;
        
        p{
            font-size: 24px;
            font-weight: bold;
            color: white;
            margin-bottom: 20px;
        }

        div{

            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            button{
                padding: 10px 20px;
                width: 40%;
                height: 80px;
                background-color:#EC6F00;
                border: 2px solid #FFFFFF;
                border-radius: 40px;
                font-size: 33px;
                font-weight: bold;
            }
        }
    }
}    

section:nth-of-type(2){
    display: flex;
    align-items: center;

    & > figure:first-of-type{
        
        img{
            height: 500px;
        }
    }

    article{
        & > div:first-of-type{
            display: flex;

            p{
                font-size: 33px;
                margin-bottom: 20px;
            }
        }
        & > div:last-of-type{
            display: flex;
            justify-content: center;

            button{
                width: 40%;
                height: 80px;
                margin-bottom: 20px;
                padding: 10px 20px;
                background-color:#EC6F00;
                border:1px solid #FFFFFF;
                border-radius: 40px;
                font-size: 33px;
                font-weight: bold;
                color: white;

                -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
                -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
                box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
            }
        }
    }
}

#bg, #overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index:-1;
}

#bg{
    background-image: url('../assets/images/bg/bg-home.svg');
}

#overlay{
    background-color: rgba(0,0,0,0.3);
}

</style>