<template>
<section>
    <div id="bg"></div>
    <div id="overlay"></div>
    <section>
        <h1>Ons Team</h1>
    </section>

    <section>
        <p>
            Ons Team bestaat uit een groep fanatieke Call of Duty spelers met veel passie voor de 
            game. Wij hebben samen dan ook veel uren aan de game besteed en kennen dan ook 
            echt de ins en outs. Met onze kennis willen wij jou helpen om je call of duty carrière 
            naar the next level te brengen. Bekijk onze individuele profielen om onze 
            kampioenschappen, awards en meer te zien.
        </p>

        <div>
            <div v-for="coach in state.team" :key="coach.id" @click="showDetails(coach.id)">
                <h2>{{ coach.name }}</h2>
                <div>
                    <img :class="{ 'details-overlay': coach.show_details }" :src="require('@/assets/' + coach.img.src)" :alt="coach.img.alt">
                    <ul v-if="coach.show_details">
                        <li v-for="detail in coach.details" :key="detail.id">
                            {{ detail.txt }}
                        </li>
                    </ul>
                </div>
                <blockquote>"{{ coach.quote }}"</blockquote>
            </div>
        </div>
    </section>
</section>
</template>

<script>
import { team } from '../assets/team';
import { reactive } from 'vue';

export default {
    name: 'OnsTeam',
    setup() {  

        const state = reactive({
            team,
        });
        
        function showDetails(coachId){
            const coach = state.team[coachId - 1] || state.team[0];
            coach.show_details = !coach.show_details;
            state.team[coachId - 1] = coach;
        } 

        return {
            showDetails,
            state
        }
    }
}
</script>

<style lang="scss" scoped>

    main > section > section:first-of-type{

        display: flex;
        flex-direction: column;
        text-align: center;

        h1{
            font-size: 60px;
            font-weight: bold;
            color: #EC6F00;
            margin-bottom: 40px;
        }
    }

    main > section > section:nth-of-type(2){
        height: min-content;
        margin-bottom: 20px;
        padding: 40px 20px;
        text-align: center;
        background-color: #DFDFDF;
        border-radius: 20px;

        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);

        p{
            font-size: 24px;
        }

        > div{
            display: flex;
            justify-content: space-around;
            margin-top: 40px;

            > div{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                h2{
                    font-size: 40px;
                    font-weight: bold;
                    color: #EC6F00;
                    margin-bottom: 10px; 
                }

                > div{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor:pointer;
                    
                    img{
                        width: 300px;
                        margin-bottom: 10px;
                        transition: all 1s ease;
                    }

                    img.details-overlay{
                        filter: grayscale(100%);
                    }

                    ul{
                        padding: 5px;
                        position: absolute; 
                        text-decoration: none;
                        list-style: none;
                        color: white;
                        background-color: rgba(0,0,0,0.6);

                        li:before{
                            content: '- ';
                        }
                    }
                }

                blockquote{
                    font-weight: bold;
                    font-style: italic;
                }
            }
        }
    }

    #bg, #overlay{
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 240px;
        z-index:-1;
    }

    #bg{
        background-image: url('../assets/images/bg/bg-home.svg');
    }

    #overlay{
        background-color: rgba(0,0,0,0.3);
    }
</style>
