<template>
    <div>
        <figure>
            <img :src="require('@/assets/' + imgsrc)" :alt="imgalt">
        </figure>
        <h2>{{ name }}</h2>
        <article>
            <h3>
			{{ intro }}
            </h3>
			<p>{{ price }}</p>
        </article>
		<router-link :to="{ name: 'BoxDetail', params: {boxId: id} }">
			<button>BEKIJK NU</button>
		</router-link>
    </div>
</template>

<script>
export default {
  name: "BoxItem",
  props: {
    id: { 
		type: Number
	},	
    name: { 
		type: String, 
		default: '' 
	},	
    imgsrc: { 
		type: String, 
		default: '' 
	},	
    imgalt: { 
		type: String, 
		default: '' 
	},	
    intro: { 
		type: String, 
		default: '' 
	},	
    price: { 
		type: String, 
		default: '' 
	},	
  }
}
</script>

<style lang="scss" scoped>
	div{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 400px;
		height: 450px;
		margin-bottom: 20px;
		padding: 0 20px;
		text-align: center;
		background-color: #DFDFDF;
		border-radius: 20px;

		-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);

		img{
			width: 50%;
		}

		h2{
			font-size: 50px;
		}

		h3{
			font-size: 18px;
			font-weight: 100;
		}

		p{
			font-size: 40px;
			font-weight: bold;
		}

		a{
			width: 100%;
			
			button{
				padding: 10px 20px;
				width: 80%;
				background-color:#EC6F00;
				border: 2px solid #FFFFFF;
				border-radius: 40px;
				font-size: 18px;
				font-weight: bold;

				-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
				-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
				box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
			}
		}
	}
</style>
