<template>
    <header>
        <router-link to="/"><figure><img src="./assets/images/logo/logo.svg" alt="Logo"></figure></router-link>
        <nav>
            <router-link to="/">Home</router-link>
            <router-link to="/abonnementen">Abonnementen</router-link>
            <router-link to="/ons-team">Ons Team</router-link>
        </nav>
        <input type="search" name="search" id="search">
    </header>
    <main>
	<router-view />
    </main>
    <footer>
    </footer>
</template>

<style lang="scss">

@font-face{
	font-family: 'Nirmala-UI';
	src: url('assets/fonts/Nirmala.ttf');
	font-style: normal;
	font-weight: 100; /* bold */
}

@font-face{
	font-family: 'Nirmala-UI';
	src: url('assets/fonts/nirmalab.ttf');
	font-style: bold;
	font-weight: 700; /* bold */
}

body{
    background-color: #E7E7E7;
}

#app {
    font-family: Nirmala-UI, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


header{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 50px 0;

    figure{
        img{
            width:50%;
            display:block;
            margin: 0 auto;
        }
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 30px;
        font-size: 33px;

        a {
            margin: 10px;
            font-weight: bold;
            color: #EC6F00;

            .router-link-exact-active {
                color: #42b983;
            }
        }
    }

    input{
        align-self: center;
        width: 285px;
        height: 40px;
        padding: 5px;
        background-color: #BABABA;
        border-radius: 20px;
    }
}

main{
    margin: 0 50px;
}
</style>
